---
Checks:
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -cert-err34-c,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-explicit-virtual-functions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-special-member-functions,
    -hicpp-avoid-c-arrays,
    -hicpp-multiway-paths-covered,
    -hicpp-no-array-decay,
    -hicpp-signed-bitwise
    -hicpp-uppercase-literal-suffix,
    -hicpp-use-auto,
    -hicpp-use-override,
    -hicpp-vararg,
    -modernize-avoid-c-arrays,
    -modernize-use-auto,
    -modernize-use-nodiscard,
    -modernize-use-override,
    -modernize-use-trailing-return-type,
    -readability-convert-member-functions-to-static,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-uppercase-literal-suffix,

CheckOptions:
    - { key: readability-identifier-naming.ClassCase, value: CamelCase }
    - { key: readability-identifier-naming.FunctionCase, value: camelBack }
    - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
    - { key: readability-identifier-naming.ParameterCase, value: camelBack }
    - { key: readability-identifier-naming.PrivateMemberCase, value: camelBack }
    - { key: readability-identifier-naming.PrivateMemberPrefix, value: m_ }
    - { key: readability-identifier-naming.PrivateMethodCase, value: camelBack }
    - { key: readability-identifier-naming.PublicMethodCase, value: camelBack }

HeaderFilterRegex: '.'
